# Specify HTTP listener port
# At the moment, only one port per getstream instance is supported.
http-listen 8080;

# List of channels to serve, in "zap" file format.
# (NAME:FREQUENCY:POLARIZATION:UNUSED:SYMBOLRATE:UNUSED:UNUSED:SID:DELIVERY_SYSTEM)
channels "/etc/yatvss/channels.conf";

# Set the HTTP output buffer size (optional). Clients that
# exceed this bufsize will be dropped.
client_bufsize 10485760; # 10MiB, this is the default

# Kernel demuxer buffer size. Increase this if you get
# frontend reads failed with errno "Value too large for defined data
# type". Allocated once per card, setting it too large just
# causes increased memory usage. Kernel default is currently
# 2 * 4096.
demux_bufsize 16384;

# Frontends to use
# Clients will be dynamically assigned to these
# adapters in a round-robin fashion
frontend { adapter 0; }; # Corresponds to /dev/dvb/adapter0/...
frontend { adapter 1; }; # Corresponds to /dev/dvb/adapter1/...
frontend {
	adapter 1;
	frontend 1; # Optional, by default, 0 will be used
	# These are the default LNB params for a Ku band
	# universal LNB. They can be changed, if necessary
	lof1 9750000;
	lof2 10600000;
	slof 11700000;
};

# Set logfile (optional)
logfile "getstream.log";

# Log to syslog? (Optional)
use_syslog yes;
