Source: tvoe
Section: utils
Priority: optional
Maintainer: Dominik Paulus <iridium@sieglitzhof.net>
Build-Depends: debhelper (>= 7.0.50~),
 cmake,
 libevent-dev,
 libglib2.0-dev,
 pkg-config,
 libbitstream-dev,
 flex,
 bison
Standards-Version: 3.9.1

Package: tvoe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: Lightweight DVB-S/S2 TV streaming server
