#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_install:
	install -m 644 -D tvoe.conf.example debian/tvoe/etc/tvoe/tvoe.conf
	install -m 644 -D debian/tvoe.tmpfiles.conf debian/tvoe/usr/lib/tmpfiles/tvoe.conf
