[Unit]
Description=DVB-S/S2 streaming server
ConditionPathExists=/etc/tvoe/tvoe.conf

[Service]
User=Debian-tvoe
Type=forking
ExecStart=/usr/bin/tvoe -c /etc/tvoe/tvoe.conf -p /var/run/tvoe/tvoe.pid
PIDFile=/var/run/tvoe/tvoe.pid

[Install]
WantedBy=multi-user.target
