[Unit]
Description=DVB-S/S2 streaming server
ConditionPathExists=/etc/tvoe/tvoe.conf

[Service]
User=Debian-tvoe
ExecStart=/usr/bin/tvoe -f -c /etc/tvoe/tvoe.conf
Restart=on-failure
MemoryDenyWriteExecute=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths=

[Install]
WantedBy=multi-user.target
